.page__header {
  margin-top: var(--page-side-indent, --page-side-indent-default);
  margin-left: var(--page-side-indent, --page-side-indent-default);
  margin-right: var(--page-side-indent, --page-side-indent-default);
}
