.page__header {
  margin-left: 16px;
  margin-right: 16px;
}

@media screen and (min-width: 768px) {
  .page__header {
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (min-width: 1024px) {
  .page__header {
    margin-left: 48px;
    margin-right: 48px;
  }
}
