.header {
  flex-grow: 0;

  padding-top: var(--root-side-indent);
  padding-left: var(--root-side-indent);
  padding-right: var(--root-side-indent);

  /* height depends on content */
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
