.place__website-link {
  margin: 0;
  
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height, or 122% */

  text-decoration-line: underline;
  text-underline-offset: 4px;

  color: #FFFFFF;

  transition: opacity linear 0.2s;
}

.place__website-link:hover {
  opacity: 0.8;
}
