@property --background-opacity {
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/@property */
  syntax: '<color>';
  initial-value: rgba(42, 44, 47, 0.3);
  inherits: false;
}

.cover {
  --cover_image_path: url(../../images/cover/cover__background_320.jpg);
  --background-opacity: rgba(42, 44, 47, 0.3);

  color: inherit;
  text-decoration: none;

  aspect-ratio: 320/200;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-image: linear-gradient(var(--background-opacity), var(--background-opacity)), var(--cover_image_path);
  background-position: center;
  background-size: cover;

  transition: --background-opacity 0.2s;
}

.cover:hover {
  --background-opacity: rgba(42, 44, 47, 0.8);
}

@media screen and (min-width: 768px) {
  .cover {
    background-image: linear-gradient(var(--background-opacity), var(--background-opacity)), url(../../images/cover/cover__background_768.jpg);
  }
}

@media screen and (min-width: 1024px) {
  .cover {
    background-image: linear-gradient(var(--background-opacity), var(--background-opacity)), url(../../images/cover/cover__background_1024.jpg);
  }
}

@media screen and (min-width: 1184px) {
  .cover {
    background-image: linear-gradient(var(--background-opacity), var(--background-opacity)), url(../../images/cover/cover__background_1184.jpg);
  }
}

/* -----------------------------------
- v1:

.cover {
  --background-opacity: 0.3;
  background-image: linear-gradient(rgba(42, 44, 47, var(--background-opacity)), rgba(42, 44, 47, var(--background-opacity))), url(../../images/cover__background.jpg);
}
.cover:hover {
  --background-opacity: 0.8;
}
*/

/* -----------------------------------
- v2:

@property --background-opacity {
  syntax: '<color>';
  initial-value: rgba(42, 44, 47, 0.3);
  inherits: false;
}
.cover {
  background-image: linear-gradient(var(--background-opacity), var(--background-opacity)), url(../../images/cover__background.jpg);
  transition: --background-opacity 0.4s;
}
.cover:hover {
  --background-opacity: rgba(42, 44, 47, 0.8);
}
*/

/* -----------------------------------
- v3:

.cover:hover {
  animation: gradient-fade 2s;
}

@keyframes gradient-fade {
  0%   {background-image: linear-gradient(rgba(42, 44, 47, 0.3), rgba(42, 44, 47, 0.3)), url(../../images/cover__background.jpg);}
  25%  {background-image: linear-gradient(rgba(42, 44, 47, 0.4), rgba(42, 44, 47, 0.4)), url(../../images/cover__background.jpg);}
  50%  {background-image: linear-gradient(rgba(42, 44, 47, 0.5), rgba(42, 44, 47, 0.5)), url(../../images/cover__background.jpg);}
  75%  {background-image: linear-gradient(rgba(42, 44, 47, 0.6), rgba(42, 44, 47, 0.6)), url(../../images/cover__background.jpg);}
  100%  {background-image: linear-gradient(rgba(42, 44, 47, 0.8), rgba(42, 44, 47, 0.8)), url(../../images/cover__background.jpg);}
}
*/


/* -----------------------------------
- v4: before + absolute for background-image (or add before + absolute with img + absolute + srcset + sizes + z-index + alt)

https://stackoverflow.com/a/66235776/5917765
https://stackoverflow.com/questions/6542212/use-css3-transitions-with-gradient-backgrounds

*/

/* -----------------------------------
- v5: (background-image + opacity for <a>) and (absolute + second <a> for texts)
*/

/* -----------------------------------
- v6: "background-image on parent" + "background: rgba(42, 44, 47, 0.2); on child"

<section class="cover">
  <a href="https://stampsy.com/na-elektrichkakh-do-baikala" class="cover__link" target="_blank">

.cover {
    background-image: url(../../images/cover-trains.jpg);
    background-position: center center;
    background-size: cover;
    position: relative;
    width: 100%;
    z-index: 1;
    margin: 0;
}
.cover__link {
    box-sizing: border-box;
    transition: .2s ease-out;
    background: rgba(42, 44, 47, 0.2);
}
*/
