.cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-image: linear-gradient(rgba(42, 44, 47, 0.3), rgba(42, 44, 47, 0.3)), url(../../images/cover__background.jpg);
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.6);
}
